/* --------------------- */
/* Custom properties     */
/* --------------------- */

:root {
    /* colors */
    --clr-white: 0 0% 98%;
    --clr-gray: 0 0% 41%;
    --clr-black: 0 0% 8%;

    /* font-sizes */
    --fs-700: 2.25rem;
    --fs-500: 1.125rem;
}


/* --------------------- */
/* Reset                 */
/* --------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
p {
    margin: 0;
}

/* set up the body */
body {
    font-family: 'Epilogue', sans-serif;
    font-size: var(--fs-500);
    color: hsl( var(--clr-gray) );
    line-height: 1.5;
    min-height: 100vh; 
    overflow-x: hidden;
    position: relative;
}

body .dark-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: hsla(0, 0%, 8%, 0.5);
    transition: all .3s linear;
}

body.nav-open .dark-overlay {
    display: initial;
    opacity: 1;
}

/* make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with*/
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}


/* --------------------- */
/* Utility classes       */
/* --------------------- */

.flex {
   display: flex;
   gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}


/* colors */
.bg-white { background-color: hsl( var(--clr-white) );}
.bg-gray { background-color: hsl( var(--clr-gray) );}
.bg-black { background-color: hsl( var(--clr-black) );}

.text-white { color: hsl( var(--clr-white) );}
.text-gray { color: hsl( var(--clr-gray) );}
.text-black { color: hsl( var(--clr-black) );}

/* typography */
.fs-700 { font-size: var(--fs-700); }
.fs-500 { font-size: var(--fs-500); }


/* --------------------- */
/* Main styles           */
/* --------------------- */

/* primary header*/
.primary-header {
    min-height: 75px;
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.primary-header .menu {
    position: fixed;
    top: 1.3rem;
    right: 1rem;
    z-index: 2;
    cursor: pointer;
}

.menu .close-menu{
    display: none;
}

header.open .open-menu{
    display: none;
}

header.open .close-menu{
    display: initial;
}

/* primary navigation*/

.primary-navigation {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    background: white;
    transform: translateX(100%);
    transition: all .3s ease-in;
    text-align: left;
    z-index: 1;
}

header.open nav {
    transform: translateX(0%);
}

nav .primary-navigation {
    margin-top: 75px;
    flex: 1;
}

.primary-navigation .nav-link {
    position: relative;
    cursor: pointer;
}

.nav-link > a {
    width: 100%;
    padding: .5rem 1.5rem;
    display: block;
    transition: all .3s ease-in;
}

.nav-link > a:hover {
    background: hsla(0, 0%, 88%, 0.5);
}

.nav-link .dropdown-list {
    display: none;
    padding: .5rem 1.5rem;
    overflow-y: hidden;
}

.nav-link.link-open .dropdown-list {
    display: block;
}

.dropdown-list .dropdown-item a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
}

.dropdown-item a:hover{
    background: hsla(0, 0%, 78%,.5);
}

.nav-link a span{
    margin-right: .75rem;
}

.nav-link .arrow-up{
    display: none;
}

.nav-link.link-open .arrow-up{
    display: initial;
}

.nav-link.link-open .arrow-down {
    display: none;
}

nav .login-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.login-items .register-button {
    color: hsl( var(--clr-gray) );
    background: transparent;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    width: 164px;
    text-align: center;
    border: .1rem solid gray;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in;
}

/* Main content */
.main-content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2.9rem;
}

.main-content picture img {
    width: 100%;
}

.content-details {
    padding-inline: 1rem;
    text-align: center;
}

.description {
    line-height: 33px;
}

.button {
    margin: 0 auto;
    color: hsl( var(--clr-white) );
    background: hsl( var(--clr-black) );
    font-weight: 700;
    padding: 0.7rem 0.8rem;
    width: 138px;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s all linear;
}

.button:hover {
    color: hsl( var(--clr-black) );
    background: transparent;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    padding-inline: 1rem;
}

.clients img {
    width: 64px;
}

/* Footer */
footer {
    font-size: 0.8rem;
    margin: 1rem;
    text-align: center;
}

footer a {
    color:hsl( var(--clr-black) );
}

@media only screen and (min-width: 1440px) {
    /* Tablet styles here */
    body {
        background:hsl( var(--clr-white) );
    }

    .dark-overlay {
        display: none;
        opacity: 0;
    }

    .primary-header {
        padding: 1.5rem 3rem;
        justify-content: center;
    }

    .logo {
        margin-top: .5rem;
    }

    .menu {
        display: none;
    }

    nav {
        position: initial;
        margin: 0 2rem;
        max-width: 80vw;
        height: auto;
        background: transparent;
        flex: 3;
        display: flex;
        align-items: center;
        transform: translate(0%);
    }

    nav .primary-navigation {
        display: flex;
        flex: 3;
        margin-top: 0.5rem;
    }

    .nav-link {
        text-align: right;
        margin: 0 1rem;
    }

    .nav-link > a {
        padding: 0;
    }

    .nav-link > a:hover {
        color: hsl( var(--clr-black) );
        background: transparent;
        transform: translateY(-1px);
    }

    .nav-link > a:active{
        transform: scale(1.2);
    }

    .nav-link a span{
        margin-right: .5rem;
    }

    .arrow-down {
        display: inline-block;
    }

    .nav-link .dropdown-list {
        position: absolute;
        top: calc(100% + 1rem);
        right: 0;
        width: max-content;
        background-color: white;
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        border-radius: .5rem;
    }

    nav .login-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        padding-top: 0.5rem;
    }

    .login-items .item,
    .login-items .register-button {
        color: hsl( var(--clr-gray) );
        background: transparent;
        padding: .5rem 1rem;
        margin: 0 .5rem;
        border: .1rem solid gray;
        border-radius: 1rem;
        cursor: pointer;
        transition: all .3s ease-in;
    }

    .login-items .item:hover,
    .login-items .register-button:hover {
        color: hsl( var(--clr-black) );
        border: .1rem solid black;
        transform: translateY(-1px);
    }

    .login-items .item:active,
    .login-items .register-button:active {
        transform: scale(1.2);
    }

    .login-items .item {
        border: none
    }

    /* main content */
    .main-content {
        grid-template-columns: 2fr minmax(auto, 40%);
        grid-template-rows: 0;
        gap: 2rem;
        margin: 0 8rem 5rem 10rem;
        padding-bottom: 3rem;
    }

    main picture {
        order: 1;
    }

    .content-details {
        width: 540px;
        position: relative;
        top: 5rem;
    }

    .title{
        font-size: 4rem;
        line-height:5rem;
        letter-spacing: -1.11px;
        text-align: left;
        padding-bottom: 1.5rem;
    }

    .description {
        line-height: 1.75rem;
        text-align: left;
    }

    .button {
        margin: 0;
        position: relative;
        top: 430px;
        left: -675px;
        color: hsl( var(--clr-white) );
        background: hsl( var(--clr-black) );
        font-weight: 700;
        padding-bottom: 2.5rem;
        width: 163px;
        border: 1px solid black;
        border-radius: 1rem;
        cursor: pointer;
        transition: .5s all linear;
        z-index: 3;
    }
    
    .button:hover {
        color: hsl( var(--clr-black) );
        background: transparent;
    }

    .button:active {
        transform: scale(1.1);
    }

    .clients {
        position: relative;
        top: 310px;
        left: -40px;
    }

    .clients img {
        cursor: text;
    }
}









